.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  align-self: center;
  width: 730px;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  background-image: url(../images/header-image.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  z-index: 0;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0;
}

.digits {
  padding: 100px 0;
  width: 100%;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  width: 1100px;
  margin: auto;
}

.table__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.table__cell {
  width: 250px;
}

.table__heading {
  margin: 0 0 20px;
}

.table__text:last-child {
  margin: 20px 0 0 0;
}

.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  width: 100%;
  z-index: -2;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 70px auto;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

.feynman__illustration {
  position: absolute;
  background-image: url(../images/feynman.png);
  background-size: cover;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.kaufman {
  position: relative;
  padding: 90px 0;
  margin: auto;
  width: 100%;
  background-color: #1f1f1f;
  z-index: -2;
  overflow: hidden;
}

.section-title_theme_dark {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
  color: white;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  margin: 0 auto;
}

.table__row_theme_dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 0;
}

.table__heading_theme_dark {
  margin: 0 0 20px;
}

.table__text_theme_dark {
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  min-height: 250px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  bottom: 0;
  padding: 0;
  margin: 18px 0;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__column-heading {
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #2f80ed;
}

.font_one {
  font-size: 24px;
}

.font_two {
  font-size: 18px;
}

.font_three {
  font-size: 60px;
}

.font_four {
  font-size: 36px;
}

.font_fife {
  font-size: 15px;
}

.font_six {
  font-size: 102px;
}

.font_seven {
  font-size: 120px;
}

.weight_b {
  font-weight: bold;
}

.weight_n {
  font-weight: normal;
}

.line_one {
  line-height: 96px;
}

.line_two {
  line-height: 1.2;
}

.line_three {
  line-height: 25px;
}

.line_four {
  line-height: 34px;
}

.line_five {
  line-height: 30px;
}

.line_six {
  line-height: 1.15;
}

.line_seven {
  line-height: 51px;
}
